@import 'base.scss';

.CustomMenu-container {
  display: flex;
  flex-direction: column;
  background-color: $background-color-framed;
  overflow-y: auto;
}

.CustomMenu-item-container, .CustomMenu-header-container {
  padding: .5rem;
  flex: 1 0 auto;
  display: flex;
  min-height: 2rem;
  align-items: center;
}

.CustomMenu-item-container {
  cursor: pointer;
}

.CustomMenu-item-container:hover {
  background-color: $background-color-framed--active;
}

.CustomMenu-item, .CustomMenu-header {
  flex: 0 1 auto;
}

.CustomMenu-header {
  font-weight: 600;
}
