.Disclaimer-container {
    display: flex;
    align-items: center;
    padding: 1rem 1rem 1rem 1rem;
    background-color: #eaf3ff;
}

.Disclaimer-close {
    flex: 0 0 auto;
    height: 2rem;
    width: 2rem;
    margin-left: auto;
    fill: #222;
    cursor: pointer;
}

.Disclaimer-close:hover {
    fill: #d33;
}