.Dropdown-container {
    position: relative;
    display: inline-block;
}

.Dropdown-active {
    position: absolute;
    top: 100%;
    display: flex;
    flex-direction: column;
    max-height: 20rem;
    border: 1px solid #ccc;
    background-color: #fff;
    z-index: 1000;
}

.Dropdown-right {
    left: auto;
    right: 0;
}

.Dropdown-up {
    bottom: 100%;
    top: auto;
}

.Dropdown-item {
    white-space: nowrap;
    padding: .5rem;
    line-height: 2rem;
    flex: 0 1 auto;
    cursor: pointer;
}

.Dropdown-item:hover {
    background-color: #eaf3ff;
}

.Dropdown-invisible {
    display: none;
}