@import 'base.scss';

.Recommendations-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 1rem 0 0 1rem;
}

.Recommendations-item {
  display: flex;
  flex-direction: column;
  border: $border-base;
  min-height: 16rem;
  width: 16rem;
  margin: 0 1rem 1rem 0;
  position: relative;
}

.Recommendations-item:hover {
  border-color: $border-color-base--active;
}

.Recommendations-image {
  width: 100%;
  height: 8rem;
  border: none;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 33%;
  background-position-x: center;
  flex: 0 0 auto;
  cursor: pointer;
}

.Recommendations-body {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  margin-left: .1rem;
  cursor: pointer;
}

.Recommendations-footer {
  display: flex;
  align-items: flex-end;
  margin-left: .1rem;
}

.Recommendations-title-container {
  min-height: 2rem;
  display: flex;
  align-items: center;
  position: relative;
}

.Recommendations-title, .Recommendations-title-expand {
  font-size: 1.5rem;
  line-height: 2rem;
}

.Recommendations-title-expand {
  display: none;
  position: absolute;
  background: $background-color-base;
  top: 0;
  word-break: break-all;
}

.Recommendations-title-container:hover .Recommendations-title-expand {
  display: unset;
}

.Recommendations-title-container:hover .Recommendations-title {
  display: none
}

.Recommendations-description {
  font-size: 1rem;
  overflow: hidden;
  flex: 1 0 auto;
}

.Recommendations-title, .Recommendations-motivation {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Recommendations-motivation {
  font-size: .8rem;
  flex: 1 0 auto;
  cursor: pointer;
}