@import 'base.scss';

body {
  margin: 0;
  padding: 0;
  font-family: $font-family-base;
  color: $color-base;
}

a {
  text-decoration: none;
  color: $color-base;
}

.rt-button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: $border-base;
  height: 2.5rem;
  padding: 0 .5rem;
  cursor: pointer;
}

.rt-button:hover {
  border-color: $border-color-base--active;
}

.rt-selector-container {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  height: 2.5rem;
}

.rt-selector-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.rt-selector-text {
  font-size: 1rem;
  line-height: 2.5rem;
}

/**
 * icons
*/

.rt-icon {
  width: 2rem;
  height: 2rem;
  flex: 0 0 auto;
  fill: $color-base;
}

/**
 * Misc
*/

.rt-flex-float-right {
  margin-left: auto;
}

.rt-clickable {
  cursor: pointer;
  fill: $color-base;
}

.rt-clickable:hover {
  fill: $color-base--hover;
}

.rt-clickable-disabled {
  cursor: not-allowed;
}

.rt-clickable-disabled:hover {
  background-color: unset;
}

/**
 * Third Party Modifications
*/

input:focus {
  outline: unset;
}

.nav-item {
  cursor: pointer;
}

.uls-search-label {
  visibility: hidden;
}

.uls-medium {
  width: 360px;
}

#typeahead-suggestions {
  position: absolute;
  top: calc(100% + 1px);
}

.suggestions-dropdown {
  width: auto !important;
}
