@import 'base.scss';

.Title-icon {
  width: 2.5rem;
  height: 2.5rem;
  flex: 0 0 auto;
  fill: $color-primary;
}

.Title-container {
  display: flex;
  align-items: center;
  margin: 1rem 1rem 0 1rem;
  height: 2rem;
}

.Title-display-main, .Title-display-secondary, .Title-display-version {
  font-size: 2rem;
  line-height: 2rem;
  align-self: baseline;
  margin-left: .25rem;
  font-weight: 300;
}

.Title-display-main {
  font-weight: 600;
}

.Title-display-version {
  font-size: 1rem;
}

@media (max-width: 512px) {
  .Title-display-secondary, .Title-display-version {
    display: none;
  }
}

.Title-float-right {
  margin-left: auto;
  height: 2rem;
}

.Title-menu-icon {
  width: 2rem;
  height: 2rem;
  flex: 0 0 auto;
  cursor: pointer;
  fill: $color-base;
}

.Title-menu-icon:hover {
  fill: $color-base--hover;
}